.App {
  text-align: center;
  display: flex;
  justify-content: center;  
}

#main-body {
  background-color: grey;
  min-height: 100vh;
}

#main-content {
  background-color: white;
  border-radius: 10px;
  min-height: 85vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  width: 160px;
}